h1{
    text-align: center;
    font-size: 40px;
    
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    color: black;
    padding: 20px;
    line-height: 1.6;

}
.indexContainer{
    display:flex;
    max-width: 800px;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    margin: 0 auto;

}
.navlinks {
    display:flex;
    justify-content: center;
    gap: 60px;

}
.navlinks a{
    color: rgb(33, 28, 28);
    transition: color 0.3s ease;
    text-decoration: none;

}
.navlinks a:hover {
    color: rgb(255, 0, 0);
}
@media (max-width:768px){
.navlinks {
    display:flex;
    justify-content: center;
    gap: 35px;

}
.navlinks a{
    color: rgb(33, 28, 28);
    transition: color 0.3s ease;
    text-decoration: none;
}
}
.mediumpic{
    max-width: 300px;
    max-height: auto;
}


